[Unit]
Description=Kanji API
After=network.target mysql.service

[Service]
Type=simple
WorkingDirectory=/opt/kanji-app/server
ExecStart=/usr/bin/node dist/server.js
Restart=on-failure
RestartSec=3
User=kanji
Group=kanji

[Install]
WantedBy=multi-user.target
